html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(../img/home/background.jpg);
    background-size: cover;
    padding-top: 134px;
    margin: 0;
    color: #002361;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
    z-index: 1030;
}

header .company {
    background: #002D74;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 10px 5px 10px 5px;    
    margin-bottom: 0;
}

/* nav {
    color: #002361;
} */
.navbar-nav {
    margin: auto;
} 
.navbar-nav li a {
    margin: 2px;
    font-size: 18px;
    font-weight: 600;
    /* color: #002361 !important;  */
}    

.brand-img {
    margin-left: 10px;
}

#contact-info1 {
    display: none;
}

.clients-box {
    padding-top: 77px; 
}
.clients-heading h2 {
    text-align: center;
    font-weight: 600;
}
.client-logos {
    padding-top: 21px;  
    display: flex;
    justify-content: space-evenly;    
    flex-wrap: wrap;
}
.client-logos img {
    margin: 16px;
    width: 128px;
}
.testimonial-box {
    background-image: url(../img/red-arrow.svg);
    background-position: 100% 57px;
    background-size: 21%;
    background-repeat: no-repeat;
    margin: 70px 0;
    /* border: solid orangered;    */
}
.testimonial-heading h2 {
    text-align: center;
    font-weight: 600;    
}
#carousel-large {
    display: none;
} 
.testimonial-carousel {
    padding: 22px 0 0;    
    z-index: -1;
}

footer {
    margin-top: 50px;
    background: #0D295D;
    color: white;  
    display: flex;
    flex-wrap: wrap;    
}
footer h3 {
    margin: 18px 0;
}
.contact-info2 {
    margin: 0 auto;
}
.name{
    margin-top: -15px;
    margin-bottom: 20px;
}
.phone2 {
    margin-top: 13px;
}
.white-logo {
    margin: 20px auto 30px;
}
.white-logo img {
    width: 140px;    
}
.location  {
    display: none;
}

.copyright-bar {
    background: #0C1B3F;
    color: white;    
}
.copyright-bar p {
    text-align: center;
    font-style: italic;
    padding: 12px;
    margin-bottom: 0;
} 

/* @media screen and (min-width: 600px) {
    nav .contact {  
        order: 1; */
         /*to make contact to be last flex item*/
    /* }
}     */

@media screen and (min-width: 760px)  {
    
    body {
        background-size: 1445px;
        background-position: center 255px;
        background-repeat: no-repeat;
    }
    
    header h1 {
        font-size: 24px;
    }

    .navbar-nav li a {
        margin:  15px;
        letter-spacing: 1px;           
    }
    
    .clients-box {
        width: 700px;
        margin: auto;
    }
    .client-logos img {
        width: 150px;
        margin: 20px;        
    }

    .testimonial-box {
        width: 600px;
        margin: 70px auto;
    }
    /* #carousel-small {
        width: 590px;
        margin: auto;
    }   */
    
    footer {
        align-items: center;
    }
    .white-logo img {
         width: 180px;    
     }
    .location {
        display:contents;
        display: unset;
        margin: 0 auto 20px;
    }
    
    
}

@media screen and (min-width: 992px) {
    #contact-info1 {
        display:contents;
        display: unset;
    }    
}


@media screen and (min-width: 1020px) {
    
    body {
        background-size: 1145px;
        background-position: center 76px;
    }

    header h1 {
        font-size: 26px;
    }

    main {
        background-image: url(../img/clients/redline.svg);   
        background-position: center 92px;
        background-size: 1000px;
        background-repeat: no-repeat; 
        margin: 0;       
    }   
    
    .clients-box {
        width: 895px;
    }
    .clients-heading h2 {
        text-align: center;
        margin-right: 68px;
        font-weight: 600;
        letter-spacing: 2px;
    }    
    .client-logos {
        margin-top: 35px;
        margin-right: 66px;        
        /* border: solid orange;     */
    }
    .client-logos img {
        width: 185px;
        margin: 17px 34px;
    }

    .testimonial-box {
        width: 970px;
        margin: auto;
        margin-top: 132px;
        background-image: url(../img/red-arrow.svg);
        background-position: 88% 25%;
        background-size: 110px;
        background-repeat: no-repeat;

        /* background-image: url(../img/home/testimonials/testimonial-bg.svg);
        background-position: 100% 0%;
        background-size: 860px;
        background-repeat: no-repeat; */        
        /* border: solid orangered;    */
    }
    .testimonial-heading h2 {
        text-align: center;
        margin-right: 70px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    #carousel-small {
        display: none;
    }
    #carousel-large {
        display: unset;
    }
    .testimonial-carousel {
        width: 863px;
        margin-right: auto;
        padding-top: 38px;
        z-index: -1;
        /* border: solid orange;    */
    }

    

    footer {
        height: 280px;
        margin-top: 100px;
        background: #0D295D;
        color: white;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .contact-info2 {
        padding-bottom: 32px;
    }
    /* footer .name{
        margin-top: -15px;
        margin-bottom: 20px;
    } */
    .phone2 {
        margin-top: 13px;
    }
    .location h3 {
        margin-bottom: 8px;

    }

    .copyright-bar {
        background: #0C1B3F;
        color: white;    
    }
    .copyright-bar p {
        height: 50px;
        text-align: center;
        font-style: italic;
        padding-top: 12px;
        margin-bottom: 0;
    } 

@media screen and (min-width: 1440px) {
    nav a img {
        margin-left: 50px;
    }

    .navbar-nav li a {
        margin: 0 30px;
        letter-spacing: 2px;           
    }

    #contact-info1 {
        margin-right: 50px;
    }
}    

@media screen and (min-width: 1920px) {
    nav a img {
        width: 135px;
        margin-left: 230px;
    }
    
    #contact-info1 {
        margin-right: 230px;
    }
} 

}        

