html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(../img/contact/background.jpg);
    background-size: cover;
    padding-top: 134px;
    margin: 0;
    color: #002361;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
    z-index: 1030;
}

header .company {
    background: #002D74;
}

header h1 {
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 10px 5px 10px 5px;    
    margin-bottom: 0;
}

.navbar-nav {
    margin: auto;
} 
.navbar-nav li a {
    margin: 2px;
    font-size: 18px;
    font-weight: 600;
    /* color: #002361 !important;  */
}    

.brand-img {
    margin-left: 10px;
}

#contact-info1 {
    display: none;
}

main h2 {
    text-align: center;
    font-weight: 600;
    padding-top: 57px;
}

.contact-box {
    padding-top: 39px; 
}

.contact-img {
    width: 250px;
    margin: auto;
    padding-left: 2%;
}
.contact-img h4 {
    padding-left: 3%;
}
.contact-img img {
    width: 250px;
}
.reach-us-content h3 {
    padding-top: 58px;
    padding-bottom: 12px;
    width: 240px;
    margin: auto;
}
.reach-us-info {
    width: 213px;
    margin: auto;
    padding-top: 13px;
}
.location-sm {
    width: 320px;
    margin: auto;
}
.location-sm h4 {
    padding-top: 21px;
    padding-bottom: 12px;
    width: 240px;
    margin: auto;
}
.location-lg {
    display: none;
}

footer {
    margin-top: 50px;
    background: #0D295D;
    color: white;  
    display: flex;
    flex-wrap: wrap;    
}
footer h3 {
    margin: 18px 0;
}
.contact-info2 {
    margin: 0 auto;
}
.name{
    margin-top: -15px;
    margin-bottom: 20px;
}
.phone2 {
    margin-top: 13px;
}
.white-logo {
    margin: 20px auto 30px;
}
.white-logo img {
    width: 140px;    
}
.copyright-bar {
    background: #0C1B3F;
    color: white;    
}
.copyright-bar p {
    text-align: center;
    font-style: italic;
    padding: 12px;
    margin-bottom: 0;
} 

/* @media screen and (min-width: 600px) {
    nav .contact {  
        order: 1; */
         /*to make contact to be last flex item*/
    /* }
}     */

@media screen and (min-width: 760px)  {
    
    body {
        background-size: 1192px;
        background-position: center 137px;
        background-repeat: no-repeat;
    }
    
    header h1 {
        font-size: 24px;
    }

    .navbar-nav li a {
        margin:  15px;
        letter-spacing: 1px;           
    }
    
    .contact-box {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .contact-img {
        margin: unset
    }
    .location-lg {
        display: unset;
    }
    .location-lg h4 {
        padding-top: 53px;
        padding-bottom: 12px;
        width: unset;
    }
    .location-sm {
        display: none;
    }
        
    footer {
        align-items: center;
        margin-top: 80px;
        padding-bottom: 15px;
    }
    .white-logo img {
         width: 180px;    
     }
    .copyright-bar p {
         padding: 12px 35px;
    }     
}


@media screen and (min-width: 992px) {
    #contact-info1 {
        /* display:contents; */
        display: unset;
    }    
}


@media screen and (min-width: 1020px) {
    
    body {
        background-size: 1245px; 
        background-position: center 139px;
    }

    header h1 {
        font-size: 26px;
    }

    main {
        background-image: url(../img/contact/redline.svg);   
        background-position: center 92px;
        background-size: 1258px;
        background-repeat: no-repeat; 
        margin: 0;     
    }
    main h2 {
        padding-top: 76px;
        padding-left: 68px; 
    }  
       
    .contact-box {
        width: 819px;
        margin: auto;
        justify-content: space-around;
        padding-top: 57px
    }
    
    footer {
        margin-top: 100px;
        background: #0D295D;
        color: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .contact-info2 {
        margin: unset;
    }
    .white-logo {
        margin: unset;
    }
    /* footer .name{
        margin-top: -15px;
        margin-bottom: 20px;
    } */
    .phone2 {
        margin-top: 13px;
    }
    .copyright-bar {
        background: #0C1B3F;
        color: white;    
    }
    .copyright-bar p {
        height: 50px;
        text-align: center;
        font-style: italic;
        padding-top: 12px;
        margin-bottom: 0;
    } 
}

@media screen and (min-width: 1440px) {
    nav a img {
        margin-left: 50px;
    }

    .navbar-nav li a {
        margin: 0 30px;
        letter-spacing: 2px;           
    }

    #contact-info1 {
        margin-right: 50px;
    }
}    

@media screen and (min-width: 1920px) {
    nav a img {
        width: 135px;
        margin-left: 230px;
    }
    
    #contact-info1 {
        margin-right: 230px;
    }
} 

        

