html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(../img/home/background.jpg);
    background-size: cover;
    padding-top: 134px;
    margin: 0;
    color: #002361
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0; 
    z-index: 1030;
}
header .company {
    background: #002D74;
}
header h1 {
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 10px 5px 10px 5px;    
    margin-bottom: 0;
}

.navbar-nav {
    margin: auto;
} 
.navbar-nav li a {
    margin: 2px;
    font-size: 18px;
    font-weight: 600;
    color: #002361 !important; 
}    
.brand-img {
    margin-left: 10px;
}

#contact-info1 {
    display: none;
}

.about-box {
    margin: 35px 12px 0;   
}
.about-heading h2, .about-heading p {
    text-align: center; 
    font-weight: 600;  
}
.history-box {
    margin-top: 20px;
}        
.history p {
    margin-top: 20px;
    margin-left: 10px;
    line-height: 30px;
}
.history a {
    margin-left: 50px;
}
.about-img {
    width: 300px;    
    margin: auto;
    margin-top: 30px;    
}
.about-img img {
    width: 300px;
}

.services-box {
    margin: 70px 12px 0;      
}
.services-heading h2, .services-heading p {
    text-align: center;
    font-weight: 600;
}
.service-cards {
    width: 320px;    
    margin: auto;
    margin-top: -30px;    
}
.service-cards img {
    width: 320px;    
}

.clients-box {
    margin: 20px 12px;    
}
.clients-heading h2 {
    text-align: center;
    font-weight: 600;
}
.client-logos {
    margin: 40px 12px 0;      
}
.client-logos img {
    margin: 0 6px;
}

.testimonial-box {       
    background-image: url(../img/red-arrow.svg);
    background-position: 99% 10px;
    background-size: 21%;
    background-repeat: no-repeat;
    margin-top: 40px;        
    /* border: solid orangered;    */
}
#carousel-large {
    display: none;
} 
.testimonial-carousel {
    padding-top: 10px;
    z-index: -1;
}

.contact-us-box {
    margin: 70px 12px 0;
    text-align: center;
    background-image: url(../img/red-arrow.svg);
    background-position: 80% 81%;
    background-size: 30px;
    background-repeat: no-repeat;
    /* border: solid orange;    */
}
.contact-us-box a {
    color: #002361;
    text-decoration: none;    
}
.contact-us-box h2 {
    font-weight: 700;
}    
.contact-us-box h3 {
    font-weight: 500;
}
.contact-us-box p {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

footer {
    margin-top: 50px;
    background: #0D295D;
    color: white;  
    display: flex;
    flex-wrap: wrap;    
}
footer h3 {
    margin: 18px 0;
}
.contact-info2 {
    margin: 0 auto;
}
.name{
    margin-top: -15px;
    margin-bottom: 20px;
}
.phone2 {
    margin-top: 13px;
}
.white-logo {
    margin: 20px auto 30px;
}
.white-logo img {
    width: 140px;    
}
.location  {
    display: none;
}

.copyright-bar {
    background: #0C1B3F;
    color: white;    
}
.copyright-bar p {
    text-align: center;
    font-style: italic;
    padding: 12px;
    margin-bottom: 0;
} 

/* @media screen and (min-width: 600px) {
    nav .contact {  
        order: 1; */
         /*to make contact to be last flex item*/
    /* }
}     */

@media screen and (min-width: 760px)  {
    
    body {
        background-size: 768px;
        background-position: center 513px;
        background-repeat: no-repeat;
    } 
    
    header h1 {
        font-size: 24px;
    }

    .navbar-nav li a {
        margin:  15px;
        letter-spacing: 1px;           
    }

    main {
        margin-left: 40px;
        margin-right: 40px;
    }
    .about-box {
        margin-top: 50px;
    }
    .about-heading p {
        font-size: 18px;
    }
    .history-box {
        display: flex;
    }
    .history p {
        margin-right: 30px;
        font-size: 18px;
        line-height: 35px;
    }
    .about-img img {
        margin-top: 15px;
    }

    .services-heading {
        font-size: 18px;
    }   
    .service-cards {
        width: 620px;
        margin: auto;
        margin-top: -50px;
    }
    .service-cards img {
        width: 620px;
    }

    .clients-box {
        width: 700px;
        margin: 50px auto;        
    }
    .client-logos {
        margin-top: 50px;
    }
    .client-logos img {
        margin: 0 6px;
    }

    .testimonial-box {
        width: 600px;
        margin: 70px auto;
    }

    .contact-us-box {
        background-position: 67% 70%;
    }    
    .contact-us-box p {
        font-size: 45px;
        letter-spacing: 2px;
    }
    
    footer {
        align-items: center;
    }
    .white-logo img {
         width: 180px;    
     }
    .location {
        display:contents;
        display: unset;
        margin: 0 auto 20px;
    }
    
    
}

@media screen and (min-width: 992px) {
    #contact-info1 {
        display:contents;
        display: unset;
    }    
}


@media screen and (min-width: 1020px) {
    
    body {
        background-size: 1024px;
        background-position: center 18px;
    }

    header h1 {
        font-size: 26px;
    }

    #home-carousel {
        max-width: 1440px;
        margin: auto;
    }

    main {
        background-image: url(../img/home/redline.svg);   
        background-position: center -12px;
        background-size: 994px;
        background-repeat: no-repeat;        
    }   
    .about-box {
        width: 910px;
        margin: auto; 
        padding-top: 88px;            
    }
    .about-heading h2, .about-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }        
    .history {
        flex: 0 1 450px;
        margin-left: 50px;
        margin-right: -50px;
    }    
    .history p {
        margin-top: 20px;
        margin-left: 50px;
    }
    .about-img img {
        width: 380px;
    }
      
    .services-box {
        width: 910px;
        margin: auto;
        padding-top: 46px;         
        /* border: solid orange;     */
    }
    .services-heading h2, .services-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .service-cards {
        width: 880px;
        margin: auto;
    }
    .service-cards img {
        width: 880px;
    }

    .clients-box {
        width: 910px;
        margin: auto;
        padding-top: 42px;        
    }
    .clients-heading h2 {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .client-logos img {
        margin: 20px;
    }
    .client-logos {
        margin-top: 80px;
        margin-left: 70px;
        /* border: solid orange;     */
    }

    .testimonial-box {
        width: 928px;
        margin: auto;
        background-image: url(../img/red-arrow.svg);
        background-position: 100% 24%;
        background-size: 110px;
        background-repeat: no-repeat;
        /* border: solid orangered;    */
    }
    #carousel-small {
        display: none;
    }
    #carousel-large {
        display: unset;
    }    
    .testimonial-carousel {
        width: 868px;
        margin-left: auto;
        padding-top: 72px;
        z-index: -1;
        /* border: solid orange;    */
    }

    .contact-us-box {
        width: 600px;
        margin: auto;       
        padding-top: 96px;
        text-align: center;
        background-image: url(../img/red-arrow.svg);
        background-position: 84% 81%;
        background-size: 40px;
        background-repeat: no-repeat;
        /* border: solid orange;    */
    }
    .contact-us-box h2 {
        margin-left: 62px;        
        font-size: 35px;
        font-weight: 700;
    }    
    .contact-us-box h3 {
        margin-top: 50px;
        margin-left: 62px;  
        font-size: 45px;
        font-weight: 500;
    }
    .contact-us-box p {
        /* margin-top: 10px; */
        margin-left: 40px;  
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    footer {
        height: 280px;
        margin-top: 100px;
        background: #0D295D;
        color: white;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    .contact-info2 {
        padding-bottom: 32px;
    }
    /* footer .name{
        margin-top: -15px;
        margin-bottom: 20px;
    } */
    .phone2 {
        margin-top: 13px;
    }
    .location h3 {
        margin-bottom: 8px;

    }

    .copyright-bar {
        background: #0C1B3F;
        color: white;    
    }
    .copyright-bar p {
        height: 50px;
        text-align: center;
        font-style: italic;
        padding-top: 12px;
        margin-bottom: 0;
    } 

@media screen and (min-width: 1440px) {
    
    body {
        background-size: 1024px;
        background-position: center 222px;
    }

    nav a img {
        margin-left: 50px;
    }

    .navbar-nav li a {
        margin: 0 30px;
        letter-spacing: 2px;           
    }

    #contact-info1 {
        margin-right: 50px;
    }
}    

@media screen and (min-width: 1920px) {
    nav a img {
        width: 135px;
        margin-left: 230px;
    }
    
    #contact-info1 {
        margin-right: 230px;
    }
} 

}        

