html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(../img/home/background.jpg);
    background-size: cover;
    /* padding-top: 50px; */
    margin: 0;
}

header .company {
    background: #002D74;
}

header h1 {
    font-size: 18px;
    color: white;
    padding: 10px 5px 10px 5px;    
    text-align: center
}

nav {
    color: #002361;
}
.navbar-nav {
    margin: auto;
} 
.navbar-nav li a {
    margin: 3px;
    font-size: 20px;
    color: #002361 !important; 
}

.brand-img {
    margin-left: 10px;
}

#contact-info {
    display: none;
}

main {
    margin-left: 12px;
    margin-right: 12px;
}
.about-box {
    padding-top: 35px;
    color: #002361;        
}
.about-heading h2, .about-heading p {
    text-align: center;    
}        
.history-box {
    margin-top: 20px;
}        
.history p {
    line-height: 30px;
    margin-top: 20px;
    margin-left: 10px;
}
.history a {
    margin-left: 50px;
}
.about-img {
    width: 300px;    
    margin: auto;
    margin-top: 30px;    
}
.about-img img {
    width: 300px;
}
.services-box {
    margin-top: 50px; 
    color: #002361;
}
.services-heading h2, .services-heading p {
    text-align: center;
    font-weight: 500;
    letter-spacing: 2px;
}
.service-cards {
    
}


.clients-box {
    margin-top: 119px;
    color: #002361;
}
.clients-heading h2 {
    text-align: center;
    margin-left: 62px;
    font-weight: 600;
    letter-spacing: 2px;
}
.client-logos img {
    margin: 20px;
}
.client-logos {
    margin-top: 80px;
    margin-left: 70px;
    /* border: solid orange;     */
}

.testimonial-box {
    margin-top: 57px;
    background-image: url(../img/home/testimonials/testimonial-bg.svg);
    background-position: 100% 0%;
    /* background-size: 860px; */
    background-repeat: no-repeat;
    /* border: solid orangered;    */
}

.testimonial-carousel {
    width: 52%;
    margin-left: auto;
    margin-right: 27px;
    padding-top: 10px;
    z-index: -1;
    /* border: solid orange;    */
}

.contact-us-box {
    color: #002361;
    margin-top: 119px;
    text-align: center;
    background-image: url(../img/home/contact/contact-arrow.svg);
    background-position: 85% 76%;
    background-size: 40px;
    background-repeat: no-repeat;
    /* border: solid orange;    */
}
.contact-us-box h2 {
    margin-left: 62px;        
    font-size: 35px;
    font-weight: 700;
}    
.contact-us-box h3 {
    margin-top: 50px;
    margin-left: 62px;  
    font-size: 45px;
    font-weight: 500;
}
.contact-us-box p {
    /* margin-top: 10px; */
    margin-left: 40px;  
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 2px;
}

footer {
    height: 280px;
    margin-top: 100px;
    background: #0D295D;
    color: white;
    display: flex;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    /* align-items: center; */
}
footer h3 {
    margin-bottom: 18px;
}
footer .name{
    margin-top: -15px;
    margin-bottom: 20px;
}
.phone2 {
    margin-top: 13px;
}
.location h3 {
    margin-bottom: 8px;

}

.copyright-bar {
    background: #0C1B3F;
    color: white;    
}
.copyright-bar p {
    height: 50px;
    text-align: center;
    font-style: italic;
    padding-top: 12px;
    margin-bottom: 0;
} 

/* @media screen and (min-width: 600px) {
    nav .contact {  
        order: 1; */
         /*to make contact to be last flex item*/
    /* }
}     */

@media screen and (min-width: 768px)  {
    .navbar-nav li a {
        margin: 15px;
        letter-spacing: 1px;           
    }
    main {
        margin-left: 40px;
        margin-right: 40px;
    }
    .history-box {
        display: flex;
        margin-top: 50px;
    }        
    .history p {
        line-height: 35px;
        margin-right: 15px;
    }
}

@media screen and (min-width: 992px) {
    #contact-info {
        display:contents;
        display: unset;
    }    
}


@media screen and (min-width: 1020px) {
    #home-carousel {
        max-width: 1440px;
        margin: auto;
    }

    main {
        background-image: url(../img/home/redline.svg);   
        background-position: center -3%;
        background-size: 995px;
        background-repeat: no-repeat;        
    }

    .about-box {
        width: 910px;
        margin: auto; 
        padding-top: 72px;
        color: #002361;        
    }
    .about-heading h2, .about-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }        
    .history-box {
        display: flex;
        margin-top: 50px;
    }        
    .history {
        flex: 1 0 400px;
        margin-left: 50px;
    }    
    .history p {
        line-height: 35px;
        margin-top: 20px;
        margin-left: 50px;
    }
      
    .services-box {
        width: 910px;
        margin: auto;
        margin-top: 53px; 
        color: #002361;
        /* border: solid orange;     */
    }
    .services-heading h2, .services-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .clients-box {
        width: 910px;
        margin: auto;
        margin-top: 119px;
        color: #002361;
    }
    .clients-heading h2 {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .client-logos img {
        margin: 20px;
    }
    .client-logos {
        margin-top: 80px;
        margin-left: 70px;
        /* border: solid orange;     */
    }

    .testimonial-box {
        width: 928px;
        /* height: 1000px; */
        margin: auto;
        margin-top: 57px;
        background-image: url(../img/home/testimonials/testimonial-bg.svg);
        background-position: 100% 0%;
        background-size: 860px;
        background-repeat: no-repeat;
        /* border: solid orangered;    */
    }

    .testimonial-carousel {
        width: 52%;
        margin-left: auto;
        margin-right: 27px;
        padding-top: 10px;
        z-index: -1;
        /* border: solid orange;    */
    }

    .contact-us-box {
        width: 600px;
        margin: auto;
        color: #002361;
        margin-top: 119px;
        text-align: center;
        background-image: url(../img/home/contact/contact-arrow.svg);
        background-position: 85% 76%;
        background-size: 40px;
        background-repeat: no-repeat;
        /* border: solid orange;    */
    }
    .contact-us-box h2 {
        margin-left: 62px;        
        font-size: 35px;
        font-weight: 700;
    }    
    .contact-us-box h3 {
        margin-top: 50px;
        margin-left: 62px;  
        font-size: 45px;
        font-weight: 500;
    }
    .contact-us-box p {
        /* margin-top: 10px; */
        margin-left: 40px;  
        font-size: 70px;
        font-weight: 700;
        letter-spacing: 2px;
    }

    footer {
        height: 280px;
        margin-top: 100px;
        background: #0D295D;
        color: white;
        display: flex;
        justify-content:space-around;
        align-items: center;
    }
    footer h3 {
        margin-bottom: 18px;
    }
    footer .name{
        margin-top: -15px;
        margin-bottom: 20px;
    }
    .phone2 {
        margin-top: 13px;
    }
    .location h3 {
        margin-bottom: 8px;

    }

    .copyright-bar {
        background: #0C1B3F;
        color: white;    
    }
    .copyright-bar p {
        height: 50px;
        text-align: center;
        font-style: italic;
        padding-top: 12px;
        margin-bottom: 0;
    } 
    

}        

