/* https://developers.google.com/fonts/docs/css2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..700&display=swap');

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(../img/home/background.jpg);
    background-size: cover;
    /* padding-top: 50px; */
    /* margin: 0; */
}

header .company {
    /* background: #002361; */
    background: #002D74;
}

header h1 {
    font-size: 18px;
    color: white;
    padding: 10px 5px 10px 5px;    
    text-align: center
}

nav img {
    margin-top: 10px;
    margin-left: 5px;
    width: 80px;
}

nav .contact {
    margin-top: 8px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-items {
    margin: 20px 0 20px 0px;
    text-align: center;
}
.nav-items ul {
    list-style-type: none;   
    padding-left: 0; 
}
.nav-items li {
    display: inline;
    margin: 13px;
}
.nav-items a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 13px;
    font-weight: 500;
    color: #002361;
}

main {
    
    
}

.about-us {
    
    color: #002361;
}
.about-us p {
    /* text-align: center;
    margin-top: -6px; */
} 

@media screen and (min-width: 600px) {
    nav .contact {  
        order: 1;
         /*to make contact to be last flex item*/
    }
}    

@media screen and (min-width: 1020px) {
    
    #home-carousel {
        max-width: 1440px;
        margin: auto;
    }

    main {
        background-image: url(../img/home/redline.svg);   
        background-position: center -3%;
        /* background-size: 1070px; */
        background-size: 990px;
        background-repeat: no-repeat;
        height: 3000px;
    }

    .about-box {
        width: 910px;
        margin: auto; 
        padding-top: 85px;
        color: #002361;        
    }
    .about-heading h2, .about-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }        
    .history-box {
        display: flex;
        margin-top: 50px;
    }        
    .history {
        flex: 1 0 400px;
        margin-left: 50px;
    }    
    .history p {
        line-height: 35px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .history a {
        margin-left: 50px;
    }
    .about-img {
        height: 350px;        
        margin-left: 65px;
    }

    .services-box {
        width: 910px;
        margin: auto;
        margin-top: 90px; 
        color: #002361;
        /* border: solid gray;     */
    }
    .services-heading h2, .services-heading p {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .clients-box {
        width: 910px;
        margin: auto;
        margin-top: 160px;
        color: #002361;
    }
    .clients-heading h2 {
        text-align: center;
        margin-left: 62px;
        font-weight: 600;
        letter-spacing: 2px;
    }
    .client-logos img {
        margin: 20px;
    }
    .client-logos {
        margin-top: 100px;
        /* margin-left: 50px; */
    }

    .testimonial-box {
        width: 998px;
        height: 600px;
        margin: auto;
        margin-top: 27px;
        background-image: url(../img/home/testimonials/testimonial-bg.svg);
        background-position: 100% 0%;
        background-size: 900px;
        background-repeat: no-repeat;
        border: solid orangered;   
    }

    .testimonial-carousel {
        width: 52%;
        margin-right: 30px;
        margin-left: auto;
        margin-top: 25px;
        z-index: -1;
        border: solid orange;   
    }

    .testimonial-box img {
        width: 955px;
    }
      
    
}        

