/* https://developers.google.com/fonts/docs/css2 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300..700&display=swap');

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
  
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 100%;
    background-image: url(./img/home/background.jpg);
    background-size: cover;
    /* padding-top: 50px; */
    /* margin: 0; */
}

header .company {
    /* background: #002361; */
    background: #002D74;
}

header h1 {
    font-size: 18px;
    color: white;
    padding: 10px 5px 10px 5px;    
    text-align: center
}

nav img {
    margin-top: 10px;
    margin-left: 5px;
    width: 80px;
}

nav .contact {
    margin-top: 8px;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-items {
    margin: 20px 0 20px 0px;
    text-align: center;
}
.nav-items ul {
    list-style-type: none;   
    padding-left: 0; 
}
.nav-items li {
    display: inline;
    margin: 13px;
}
.nav-items a {
    text-decoration: none;
    letter-spacing: 0.6px;
    font-size: 13px;
    font-weight: 500;
    color: #002361;
}

main {
    
    
}

.about-us {
    
    color: #002361;
}
.about-us p {
    /* text-align: center;
    margin-top: -6px; */
} 

@media screen and (min-width: 600px) {
    nav .contact {  
        order: 1;
         /*to make contact to be last flex item*/
    }
}    

@media screen and (min-width: 1020px) {
    main {
        background-image: url(./img/home/redline.svg);   
        background-position: center -3%;
        background-size: 1070px;
        background-repeat: no-repeat;
        height: 3000px;
        position: relative;
    }
    .about-us {
        position: absolute;
        top: 2.8%;
        left: 46.5%;
        color: #002361;       
    }
    .our-history {
        /* text-align: center; */
        /* margin-top: -6px; */
        color: #002361;  
    } 
    .history {
        width: 350px;
        position: absolute;
        top: 8%;
        left: 23%;
    }
    .history-box img {
        position: absolute;
        top: 7%;
        left: 53%; 
    }
    .history p {
        line-height: 35px;
        margin-top: 20px;
        margin-left: 
    }
}

